---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import Pill from '@components/Pill.astro';
import Button from '@components/Button.astro';
import Card from '@components/Card.astro';

const builtWith = [
  { name: 'DAODAO', url: 'https://daodao.zone/' },
  { name: 'Juno', url: 'https://junonetwork.io/' },
  { name: 'Akash', url: 'https://akash.network/' },
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  { name: 'Brutal', url: 'https://brutal.elian.codes/' },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];

const stakeWith = [
  { name: 'Stake JUNO', url: 'https://wallet.keplr.app/chains/juno?modal=validator&chain=juno-1&validator_address=junovaloper1f2jpv5sc6ur6yurq5w0t2chphrznpy8lfvj9vs' },
  { name: 'Stake AKT', url: 'https://wallet.keplr.app/chains/akash?modal=validator&chain=akashnet-2&validator_address=akashvaloper1f2jpv5sc6ur6yurq5w0t2chphrznpy8l86yse9' },
  { name: 'Stake JKL', url: 'https://ping.pub/jackal/staking/jklvaloper1s4rscs2jj7qydkkrsrc52rgvq38wwgrqdrcrdq' },
  { name: 'Stake JUNOX', url: 'https://en.wikipedia.org/wiki/Rickrolling' },
];
---

<Layout
  title='Home'
  pageTitle='NetaDAO | Home'
  description='NetaDAO is a community accelerator program.'
>
  <main class='bg-#9F9A9E dark:bg-gradient-to-b from-cyan-950 to-purple-700 dark:rounded-10 border-b-4 border-1 border-black p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 flex-auto gap-4 mt-4'>
      <h2 class='hidden'>About NetaDAO</h2>
      <div class='col-span-4 flex-col flex-wrap justify-between'>
        <Card color='#E7E5E8' colord='#7d53de'>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              What is <a
                class='text-#ED2E35 dark:text-white righteous'
                target='_blank'
                href='https://daodao.zone/dao/juno1c5v6jkmre5xa9vf9aas6yxewc7aqmjy0rlkkyk4d88pnwuhclyhsrhhns6/proposals'>NetaDAØ</a
              >
            </p>
            <p class='outfit m-2 text-2xl md:text-3xl lg:text-4xl'>
              NetaDAO is a collective of Juno supporters organizing to accelerate the development and adoption of Juno Network and the Cosmos ecosystem at large.
            </p>
            <Button color='#FF5757' colord='#B4DE53' target={'_self'} href='/blog/'>
              <p class='righteous'>
              Go to the NetaDAO blog &rarr;
              </p>
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2 flex-col flex-wrap justify-between'>
        <Card color='#E7E5E8' colord='#DE536F'>
          <h2 class='text-2xl md:text-4xl outfit lg:text-6xl mb-4'>
            Stake With US
          </h2>
          <p class='outfit text-xl md:text-2xl lg:text-2xl mb-4'>
            You can contribute to NetaDAO operations by staking with one of our validators:
          </p>
           <ul class='flex gap-4 flex-wrap justify-center'>
            {
              stakeWith.map((item) => (
                <li>
                  <Pill color='#FF5757' colord='#53DEC3'>
                    <a
                      class='righteous'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2 flex-col flex-wrap justify-between'>
        <Card color='#E7E5E8' colord='#53DEC3'>
          <h2 class='text-2xl md:text-4xl outfit lg:text-5xl mb-8'>
            NetaDAO is built with
          </h2>
          <ul class='flex gap-4 flex-wrap justify-center'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill color='#FF5757' colord='#DE536F'>
                    <a
                      class='righteous'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>     
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
